/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: #6495f7c5;
    nav {
        display: flex;
        align-items: center;
        background-color: #6495f7c5;
        width: 100%;
        justify-content: space-between;
        /* Centrado */
        .centerBar{
            padding: 0%;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            .nav-item   {
                margin-left: 10px;
                .nav-link {
                    font-family: fantasy;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.814);
                }
            }
        }
        .logotipo{
            display: flex;
            width: 140px;
            height: 140px;
        }
        .srmaidanalogo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;
        }
            /* NAVBAR*/
    .logoRedes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }
    .flexEnd{
        justify-content: flex-end;
        align-items: center;
    }
        .container-fluid {
            padding: 0px 25px;
        }
        .nav-item {
            display: flex;
            align-self: center;
            margin-left: 14px;
        }
    }