/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: #6495f7c5;
    nav {
        display: flex;
        align-items: center;
        background-color: #6495f7c5;
        width: 100%;
        justify-content: space-between;
        /* Centrado */
        .centerBar{
            display: flex;
            justify-content: center;
            margin: 0%;
            padding: 0%;
            list-style-type: none;
            .nav-item   {
                display: flex;
                align-self: center;
                margin-right: 14px;
                .nav-link {
                    font-family: fantasy;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.814);
                }
            }
        }
        /* NAVBAR*/
        .logoRedes{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logotipo{
                display: flex;
                width: 140px;
                height: 140px;
            }
        }
        /*Estilos para los enlaces*/
        a {
            color: white; /* Cambia el color normal del enlace aquí */
            text-decoration: none; /* Quita la subrayado por defecto de los enlaces */
            &:visited {
                color: green; /* Cambia el color después de ser visitado */
            }
            &:active {
                color: red; /* Cambia el color cuando se hace clic en el enlace */
            }
            &:hover {
                color: orange; /* Cambia el color cuando el mouse está sobre el enlace */
            }
        }
        .flexEnd{
            justify-content: flex-end;
            align-items: center;
        }
        .container-fluid {
            padding: 0px 25px;
        }
        .srmaidanalogo {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 150px;
        }
    }
}