/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: #6495f7c5;
    /* NAVBAR*/
    .logoRedes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Centrado */
    .centerBar{
        align-items: center;
        justify-content: center;
        .nav-link {
        font-family: fantasy;
        font-size: 16px;
        }
    }
    .flexEnd{
        justify-content: flex-end;
        align-items: center;
    }
    .srmaidanalogo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
    }
    nav {
        display: flex;
        align-items: center;
        background-color: rgba(100, 149, 247, 0.774);
        width: 100%;
        justify-content: space-between;
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin-left: 10px;
            }
        }
        .logotipo{
            display: flex;
            width: 140px;
            height: 140px;
        }
    }
}