// MAIN INDEX 


header .centerBar {
    display: flex;
    justify-content: space-evenly;
    padding: 0%;
    .container-fluid {
        padding: 0px 60px;
    }
    .nav-item {
        display: flex;
        align-self: center;
        margin-left: 14px;
    }
}
.home {
    background-color: $main-color;
    display: flex;
    flex-direction: column; 
    align-items:center; 
    padding-bottom: 20px;
    padding-top: 20px;
    h1 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    .caja {
        height: 100px;
        background-color: #222222e2;
        color: white;
        text-align: center;
        padding: 25px;
        border: 2px groove rgba(100, 149, 247);
        border-radius: 10px;
    }
    .carouselSlide {
        width: 80%;
    }
}
