/* MAIN QUIENES SOMOS */


.somos {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        display: flex;
        color: rgba(100, 149, 247, 0.774);
        font-family: $font-h1;
        justify-content: center;
    }
    .imgtexto {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 60%;
        background-image: url(./../img/chapaFondo.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;
        text-shadow: white 1px 0 5px;
        .textosomos {
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            align-self: center;
            width: 90%;
            padding: 40px;
            margin: 0;
        }
    }
    .contenedorImgSomos {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .big {
            width: 400px;
            border: 10px groove rgba(100, 149, 247);
            border-radius: 20px;
        }
        
        .medium {
            width: 400px;
            border: 10px groove rgba(100, 149, 247);
            border-radius: 20px;
        }
        
        .small {
            width: 400px;
            border: 10px groove rgba(100, 149, 247);
            border-radius: 20px;
        }
    }
}