// MAIN INDEX 


.home {
    background-color: $main-color;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    padding-bottom: 20px;
    padding-top: 20px;
    .contenedorH1-home {
        text-align: center;
        h1 {
            display: flex;
            color: rgba(100, 149, 247, 0.774);
            font-family: $font-h1;
            justify-content: center;
        }
    }
    h4 {
        text-align: center;
        font-weight: $segundos-encabezados;
    }
    .caja {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222222e2;
        color: white;
        padding: 25px;
        border: 2px groove rgba(100, 149, 247);
        border-radius: 10px;
        .text {
            display: flex;
            text-align: center;
        }
    }
    h5 {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-weight: $segundos-encabezados;
    }
    .carousel {
        display: flex;
        align-self: center;
        margin-top: 20px;
    }
}
