// MEDIA QUERIES

/* HEADER*/

@media (max-width:991px){

    .centerBar {
    flex-direction: column;
    }}

/* MAIN CONTACTO */

@media (max-width: 768px) {
    .contact form .inputs {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h1" 
        "nombre" 
        "correo" 
        "tel" 
        "contrasenia" 
        "mensaje" 
        "boton";
    }
}

@media (max-width: 768px) {
    .contact2 {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:768px){

    .contenedorcontacto {
        display: flex;
        align-self: center;
    }}


@media (max-width:768px){

    iframe {
    width: 100%;
    }}

/* CARD BOOTSTRAP */

@media (max-width:768px){

    .card-img {
    height: 400px;
    }}