// MEDIA QUERIES

/* HEADER*/


@media (max-width: 768px){

    header .centerBar .srm-item {
        display: none;
    }
}


@media (max-width:767.98px){

    header .centerBar {
        display: flex;
        flex-direction: column;
        justify-items: end;
        .srm-item {
            display: none;
        }
        .extension {
            width: 100%;
            .img-slider {
                width: 100%;
            }
        }
    }
}


/* MAIN CONTACTO */

@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form .inputs {
            grid-template-columns: 1fr;
            grid-template-areas:
                "h1"
                "nombre"
                "correo"
                "tel"
                "contrasenia"
                "mensaje"
                "boton";
        }
    }
    .contact2 {
        display: flex;
        flex-direction: column;
    }
    .contenedorcontacto {
        display: flex;
        align-self: center;
    }
}

@media (max-width:768px){

    iframe {
    width: 100%;
    }}

/* CARD BOOTSTRAP */

@media (max-width:768px){

    .card-img {
    height: 400px;
    }}

/*MAIN SOMOS */

@media (max-width:400px) {

    .somos{
        .contenedorImgSomos{
            width: 100%;
            .big {
                width: 100%;
            }
            .medium {
                width: 100%;
            }
            .small {
                width: 100%;
            }
        }
    }
}