@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:ital@1&display=swap');

*{
    font-family: "Lato" , sans-serif;
    font-family: "Ubuntu" , sans-serif;
}

/* index.html */

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(100, 149, 247, 0.774);
    /* NAVBAR*/
    .logoRedes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Centrado */
    .centerBar{
        align-items: end;
        justify-content: center;
    }
    .flexEnd{
        justify-content: flex-end;
        align-items: center;
    }
    nav {
        display: flex;
        align-items: center;
        background-color: rgba(100, 149, 247, 0.774);
        width: 100%;
        justify-content: space-between;
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin-left: 10px;
            }
        }
        .logotipo{
            display: flex;
            width: 100px;
            height: 100px;
        }
    }
}

// TODOS LOS H1

h1 {
    display: flex;
    justify-content: center
}

/*VARIABLE*/

$main-color: bisque;


@import "./mainhome";

@import "./mainservis";

@import "./mainsomos";

@import "./maincontact";

@import "./mainclient";

@import "./mediaqueries";





/* FOOTER */

footer {
    background-color: #4c4747;
}

.irAHeader {
    background: linear-gradient(to right, #9e5a45 , rgba(255, 213, 162, 0.785));
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}


.copy {
    display: flex;
    color: rgba(100, 149, 247);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes {
    display: flex;
    color: rgba(100, 149, 247);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    display: flex;
    color: rgba(100, 149, 247);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}








