@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:ital@1&display=swap');

*{
    font-family: "Lato" , sans-serif;
    font-family: "Ubuntu" , sans-serif;
}


// TODOS LOS H1

h1 {
    display: flex;
    justify-content: center
}

/*VARIABLE*/

$main-color: white;

@import "./header";

@import "./footer";

@import "./mainhome";

@import "./mainservis";

@import "./mainsomos";

@import "./maincontact";

@import "./mainclient";

@import "./mediaqueries";








