@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:ital@1&display=swap');

*{
    font-family: "Lato" , sans-serif;
    font-family: "Ubuntu" , sans-serif;
}



/*VARIABLE*/

$main-color: #EAECEE;

$segundos-encabezados: 800;

$font-h1: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

@import "./header";

@import "./footer";

@import "./mainhome";

@import "./mainservis";

@import "./mainsomos";

@import "./maincontact";

@import "./mainclient";

@import "./mediaqueries";








